body {
  background-color: lightblue;
}

.header{
  margin: 0.5em 0.5em 0.5em 0;
}

.weather p {
  margin-left: 0.5em;
  font-weight: bold;
}

.weather li {
  margin-left: 0.5em;
  padding: 0.2em;
}

.weather-info {
  margin-left: 0.5em;
}

.location-form {
  margin-left: 0.5em;
}

.error-message {
  margin-left: 0.5em;
}