body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
  font-size: larger;
  font-family: lufga, sans-serif;
}

.header {
  font-size: 4em;
  margin: 0.5em 0 0.5em 0;
}

.location {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  font-size: large;
}

.submit {
  width: fit-content;
  height: 40px;
  padding: 5px;
  margin: 5px;
  font-size: large;
}

.error-message {
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

/*.weather p {
  font-size: x-large;
  font-weight: bold;
}

.weather li {
  padding: 0.2em;
}*/

.weather-info {
  display: grid;
  grid-template-areas: 
    "desc info"
    "desc info"
    "desc info"
    "desc info";
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.current-temp {
  font-size: x-large;
  font-weight: bold;
}

.weather-info > div.desc {
  grid-area: desc;
}

.weather-info > div.info {
  grid-area: info;
  justify-self: end;
}