<!DOCTYPE html>
<html>
  <head>
    <title>Weather comparison</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1 class="header">Weather comparison</h1>
    <form class="location-form" action="/" method="POST">
      <input type="text" name="location" placeholder="Enter a location" />
      <button type="submit">Search</button>
    </form>
    <p class="error-message">{{ error_message }}</p>
    {% if location %}
    <div class="weather">
      <p>Current temperature comparison for {{ location }}</p>
      <ul class="weather-info">
        <li>OpenWeatherMap temperature: {{ owm }}°C</li>
        <li>WeatherAPI temperature: {{ wa }}°C</li>
        <li>Temperature difference: {{ difference }}°C</li>
        <li>Average temperature: {{ avg }}°C</li>
      </ul>
    </div>
    {% endif %}
  </body>
</html>