<!DOCTYPE html>
<html>
  <head>
    <title>Weather comparison</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1 class="header">Weather API comparator</h1>
    <p>Enter the location to compare current weather data from OpenWeatherMap and WeatherAPI</p>
    <form class="location-form" action="/" method="POST">
      <input type="text" name="location" placeholder="Enter a location" />
      <button type="submit">Search</button>
    </form>
    <p class="error-message">{{ error_message }}</p>
    {% if location_wa %}
    <p class="current-temp">Current temperature comparison for {{ location_wa }}</p>
    <div class="weather-info">
      <div class="desc">
        <p>OpenWeatherMap temperature:</p>
        <p>WeatherAPI temperature:</p>
        <p>Temperature difference:</p>
        <p>Average temperature:</p>
      </div>
      <div class="info">
        <p>{{ owm }}°C ({{ location_owm }})</p>
        <p>{{ wa }}°C ({{ location_wa }})</p>
        <p>{{ difference }}°C</p>
        <p>{{ avg }}°C</p>
      </div>
    </div>
    {% endif %}
  </body>
</html>